body {
    background-color: #eaeaea;
    color: #444;
}

header {
    background-color: #444;
    color: #faf0e6;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 28px;
    margin: 0;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #faf0e6;
    text-decoration: none;
    padding: 10px;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    background-color: #444;
    border: 2px solid #faf0e6;
}

nav a:hover {
    background-color: #faf0e6;
    color: #444;
}

main {
    padding: 20px;
}

main h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

main ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

main li {
    margin-bottom: 10px;
}

main p {
    margin-bottom: 20px;
}

main a {
    display: inline-block;
    background-color: #faf0e6;
    color: #444;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    border: 2px solid #444;
}

main a:hover {
    background-color: #444;
    color: #faf0e6;
}

footer {
    background-color: #444;
    color: #faf0e6;
    padding: 20px;
    text-align: center;
}